In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('spotify.csv')

In [19]:
df['track_album_release_date'] = pd.to_datetime(df['track_album_release_date'], format='mixed')

In [21]:
df_2017 = df[df['track_album_release_date'].dt.year == 2017]

In [41]:
means = {}
columns = ['loudness', 'mode', 'speechiness', 'acousticness', 'instrumentalness', 'liveness', 'valence', 'tempo', 'duration_ms']

for column in columns:
    means[column] = df_2017[column].mean()
    
result_df = pd.DataFrame({'Year': [2017]})

duration_ms_mean = means['duration_ms']
minutes = int(duration_ms_mean // (1000 * 60))
seconds = int((duration_ms_mean % (1000 * 60)) // 1000)
formatted_duration = f"{minutes}m {seconds}s"

# Create a new DataFrame with the results
result_df = pd.DataFrame({'Year': [2017]})
for column, mean in means.items():
    if column == 'duration_ms':
        result_df['average_' + 'duration'] = [formatted_duration]
    else:
        result_df['average_' + column] = [mean]

result_df

,Year,average_loudness,average_mode,average_speechiness,average_acousticness,average_instrumentalness,average_liveness,average_valence,average_tempo,average_duration
0,2017,-6.429812,0.543621,0.120235,0.192834,0.075551,0.178917,0.461921,120.343258,3m 38s